body {
    margin: 0;
    padding: 0;
    background-image: url('Mesa de trabajo 1 copia@2x (1).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.oasis{
  height: 70%;
  width: 85%;
}
div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer-1 {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    animation: fade_anim 2s linear infinite;
    /* animation: layer-10 4s linear infinite; */

}

.layer-2 {
    width: 92vw;
    height: 92vh;
    opacity: 0;
    animation: fade_anim 2s linear infinite 0.2s;

}

.layer-3 {
    width: 83vw;
    height: 83vh;
    opacity: 0;
    animation: fade_anim 2s linear infinite 0.36s;

}

.layer-4 {
    width: 77vw;
    height: 77vh;
    opacity: 0;
    animation: fade_anim 2s linear infinite 0.52s;

}

.layer-a {
  width: 70vw;
  height: 70vh;
  opacity: 0;
  animation: fade_anim 2s linear infinite 0.68s;

}

.layer-b {
  width: 61vw;
  height: 61vh;
  opacity: 0;
  animation: fade_anim 2s linear infinite 0.84s;

}

.layer-5 {
    width: 57vw;
    height: 57vh;
}

.layer-6 {
    width: 52vw;
    height: 52vh;
    animation: layer-10 15s linear infinite;

}

.layer-7 {
    width: 44vw;
    height: 44vh;
}

.layer-8 {
    width: 44vw;
    height: 44vh;
}

.layer-9 {
    width: 36vw;
    height: 36vh;
    animation: anticlockrot 15s linear infinite;

}

.layer-10 {
    width: 12vw;
    height: 12vh;
    animation: layer-10 4s linear infinite;
}


@keyframes layer-10 {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes fade_anim
{
    0%{opacity: 0;}
    25%{opacity:0.5;}
    50%{opacity: 1;}
    75%{opacity: 0.5;}
    100%{opacity:0;}
}

@keyframes anticlockrot
{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(-180deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
  .box
  {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      
  }

  @font-face
  {
    font-family: hey;
    src: url("SparTakus.ttf");
  }
  /*.glitch {
    font-size: 10vw;
    line-height: 1;
    font-family: hey;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #fff;
    letter-spacing: 5px;
  }
  .glitch:before, .glitch:after {
    display: block;
    content: 'OASIS';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
  }
  .glitch:after {
    color: #f0f;
    text-shadow: 2px 2px black;
    z-index: -2;
    animation: glitch-left-2 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  }
  .glitch:before {
    color: #0ff;
    z-index: -1;
    animation: glitch-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  }
  
  @keyframes glitch-small {
    0% {
      transform: translate(0);
    }
    33% {
      transform: translate(2px, 1px);
    }
    66% {
      transform: translate(-1px, -1px);
    }
    to {
      transform: translate(0);
    }
  }
  @keyframes glitch-medium {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    to {
      transform: translate(0);
    }
  }
  @keyframes glitch-left {
    0% {
      transform: translate(0);
    }
    33% {
      transform: translate(-5px, 3px);
    }
    66% {
      transform: translate(5px, -3px);
    }
    to {
      transform: translate(0);
    }
  }
  @keyframes glitch-left-2 {
    0% {
      transform: translate(0);
    }
    33% {
      transform: translate(-5px, -3px);
    }
    66% {
      transform: translate(5px, 2px);
    }
    to {
      transform: translate(0);
    }
  }*/

  @font-face
  {
    font-family: hey2;
    src: url("pdark.ttf");
  }

  .sidetext
  {
   font-family: hey2;
   color:lightgray;
   text-shadow: 3px 3px black;
   position: absolute;

   top: 47vh;
   width: 100%;
   text-align: center;
   font-size: 3.5vw;
   letter-spacing: 2px;
  }

  #particles-js
  {
    
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

